@page "/havefun"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TrialProject.Shared
@using TrialProject.Shared.DTO
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject List<ProjectPreviewDTO> projects
@inject CurrentUser currentuser
@inject NavigationManager NavManager
@inject HttpClient Http


<PageTitle>We all just having the most fun</PageTitle>

<h1>Are you having fun? </h1>

<p>If you're not I'm gonna kill you uwu</p>

@if (projectsList == null) {
    <table class="table">
        <thead>
            <tr>
                <th>Project</th>
                <th>Teacher</th>
                <th>Discription</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proj in projects)
            {
                <tr>
                    <td>@proj.name</td>
                    <td> <span class="oi oi-person" aria-hidden="true"></span>     @proj.SupervisorName</td>
                    <td>@proj.shortDescription</td>
                </tr>
            }
        </tbody>
    </table>
}
else {
    <div>
    @foreach (var proj in projectsList)
        {
            <tr>
                <td>@proj.name</td>
                <td> <span class="oi oi-person" aria-hidden="true"></span>     @proj.SupervisorName</td>
                <td>@proj.shortDescription</td>
            </tr>
        }
</div>  
}




<AuthorizeView Roles="supervisor">
        
    <Authorized>
        <button class="OurButton" @onclick="NavToNewProject">Create New</button>
        <!--
        @if(currentuser.isSupervisor){
            <div class="PostProject">
                <label for="pname">Project Name</label>
                <input type="text" id="pname" name="projname" placeholder="Project name.." @bind="@inputName" @oninput="OnInputNameEvent">

                <label for="pdes">Project Description</label>
                <input type="text" id="pdes" name="projdes" placeholder="Project description.."@bind="@inputDes" @oninput="OnInputDesEvent">
                <button class="OurButton" @onclick="addProject">Post Project</button>
            </div>
        } 
        -->
       

    </Authorized>
</AuthorizeView>



@code {

    private List<ProjectPreviewDTO>? projectsList;


    private async void NavToNewProject()
    {
        NavManager.NavigateTo("/projects/new");
    }


    protected override async Task OnInitializedAsync()
    {
            
        if(!projects.Any()){
              var p1 = new ProjectPreviewDTO{name = "Fun Project", SupervisorName = "Bente", shortDescription = "This is the coolest project you can imagne"};
              var p2 = new ProjectPreviewDTO{name = "Not so fun Project", SupervisorName = "Felix", shortDescription = "I don't actually care for this project"};
            projects.Add(p1);
            projects.Add(p2);
        }

        try
        {
            projectsList = await Http.GetFromJsonAsync<List<ProjectPreviewDTO>>("Projects");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }  
      
    }

}
