@page "/project/edit/{id:int}"
@using TrialProject.Shared
@using TrialProject.Shared.DTO
@inject NavigationManager NavManager
@inject HttpClient Http

<PageTitle>Edit Project</PageTitle>

@if (project == null)
{
	<p>@message</p>
} else
{
	<AuthorizeView Roles="supervisor">
		<Authorized>
			<div>
			<h1>@project.name</h1>

			<p>By @project.SupervisorName</p>

			<p>@project.shortDescription</p>

				<form action="/action_page.php" @onsubmit="Submit" width=50vw>
					<textarea id="pldes" name="projlongdes" cols="30" rows="10" @bind="@inputLongDes" @bind:event="oninput"/>
            
					<div >
						<input type="submit" class="OurButton" value="Save">
						<input type="reset" class="OurButton" value="Cancel" @onclick="NavToDetails">
					</div>
				</form>
			</div>
		</Authorized>
		<NotAuthorized>
			<p>You are not authorized to edit this project!</p>
		</NotAuthorized>
	</AuthorizeView>
}



@code {
	[Parameter]
	public int id { get; set; }
	private string inputLongDes = null!;

	private ProjectDescDTO? project;

	private string message = "Loading...";

	private void OnInputLongDesEvent(ChangeEventArgs changeEvent)
	{
		inputLongDes = (string)changeEvent.Value!;
	}


	protected override async Task OnInitializedAsync()
	{
		try
		{
			var response = await Http.GetAsync("Project/api/" + id);

			if (response.IsSuccessStatusCode) 
			{
				project = await response.Content.ReadFromJsonAsync<ProjectDescDTO>();
				inputLongDes = project!.longDescription!;
			} 
			else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
			{
				message = "Project not found.";
			} 
			else
			{
				message = "An error has occurred, please try again.";
			}
		}
		catch (Exception)
		{
			message = "An error has occurred, please try again.";
		}
	}

	private async void Submit()
	{
		try
		{
			var response = await Http.PutAsJsonAsync<string>("Project/api/" + id + "/desc", inputLongDes);
			if (response.IsSuccessStatusCode) NavToDetails();
		} catch (Exception e)
		{
			Console.WriteLine(e.Message);
		}
	}

	private void NavToDetails()
	{
		NavManager.NavigateTo("/project/" + id);
	}
}