@page "/projects/{id:int}"
@using TrialProject.Shared
@using TrialProject.Shared.DTO
@using System.Net
@inject NavigationManager NavManager
@inject CurrentUser currentuser
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<PageTitle>View Project</PageTitle>

@if (project == null)
{
	<p>No project found!</p>
} else
{
	<div class="top">
			<h1>@project.name</h1>
		</div>

	<body>
		

		<div class="content_left">
		
		<div class="topfiller"></div>

		<p>By @project.SupervisorName</p>

		<h4>Short</h4>
		<p>@project.shortDescription</p>

		<h4>Description</h4>
		<EditForm class="ProjectDescription" Model="@project" OnInvalidSubmit="@save"> 
			<textarea class="txtareainput" @bind="project.longDescription"></textarea>
		</EditForm>
		<p></p>

		<h4>Contact information</h4>
		<p></p>

		<h5>Deadline</h5>
		<p></p>

		<AuthorizeView Context="LoggedIn">
		<Authorized>
			<AuthorizeView Roles="supervisor">
				<Authorized>
					<input type="submit" class="OurButton" value="Edit" @onclick="NavToEdit">
					<input type="submit" class="OurButton" value="Archive" @onclick="ArchiveProj">	
				</Authorized>
			</AuthorizeView>
			<AuthorizeView Roles="student">
				<Authorized>
					<button class="OurButton">Apply</button>
				</Authorized>
			</AuthorizeView>
		</Authorized>
		<NotAuthorized>
			<div class="filler"></div>
			<p>Log in to apply for project!</p>
		</NotAuthorized>
	</AuthorizeView>
	
	</div>

	<div class="content_center"></div>

	<div class="content_right">
		<div class="abouttitle"><h5>About</h5></div>
		<div class="profilePic"></div>
		<div class="filler"></div>

		<div class="aboutcontainer">
			<h6>Author: </h6>
			<p></p>

			<h6>Created: </h6>
			<p></p>

			<h6>Deadline: </h6>
			<p></p>

			<h6>Bio: </h6>
			<p></p>

		</div></div></body>
}

@code {
	[Parameter]
	public int id { get; set; }

	private ProjectDescDTO project = new ProjectDescDTO{ID = 5, name = "Cool ass titile", SupervisorName = "Mr. Bean", shortDescription = "This is the short description", 
	longDescription = ""};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			// Get project by ID
			//var rep = new TaskRepository();
			//project = rep.ReadProjectById(id);

		}
		catch
		{
			// Exception handling

		}
		await Task.FromResult(0);
	}

	private void NavToEdit()
	{
		NavManager.NavigateTo("/projects/edit/" + id);
	}

	private void ArchiveProj()
	{
		//project = rep.UpdateStatus(id, Status.Archived);
	}

	private bool editenable = false;

	private void edit() => editenable = true;
	
	public string txtareainput = @"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum ante ac congue sodales. Pellentesque lacinia ligula ac nunc eleifend scelerisque. Sed mollis arcu in leo mollis pellentesque. Vivamus sit amet nibh vel justo ultricies efficitur at vitae massa. Vivamus et lacinia ipsum. Nam pretium tempus lacinia. Donec vestibulum neque sit amet leo lobortis, quis elementum sem iaculis. Sed vulputate tellus in ex volutpat blandit. Suspendisse velit leo, posuere at bibendum non, pharetra eget velit.

Sed quis tellus fermentum ex dignissim cursus sit amet ut sem. Duis porttitor odio at erat dignissim, vel elementum urna dapibus. In ac tincidunt nulla. Quisque vitae ex nulla. Donec congue blandit consequat. Curabitur diam ligula, laoreet vitae urna sit amet, condimentum bibendum mi. Donec felis mi, facilisis vel mollis sit amet, tristique sit amet mi. Nullam feugiat laoreet leo vitae pellentesque. Proin sit amet vulputate massa, nec consequat felis.

Cras tempor imperdiet cursus. Integer in ipsum in massa finibus ornare ut eu ex. Suspendisse volutpat tempus eleifend. Sed rutrum justo et fringilla sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut auctor at mi quis lobortis. Aenean vel tempus tellus, nec maximus urna. Pellentesque ac metus dictum, efficitur arcu in, feugiat est. Mauris efficitur mi in molestie posuere. Suspendisse potenti.

Integer sodales felis nec gravida mattis. Phasellus elementum porta felis eu cursus. Nam ultrices tincidunt libero, nec euismod felis consequat sit amet. Phasellus scelerisque metus sit amet risus ultricies, vitae auctor dui feugiat. Duis non ligula quis erat blandit sollicitudin. Quisque efficitur nunc eget odio rhoncus, at iaculis mauris lacinia. In hac habitasse platea dictumst.

Duis vel leo diam. Phasellus at magna tincidunt, gravida purus in, vehicula magna. Mauris a ex ut tellus accumsan congue. Sed auctor tortor eu velit sollicitudin elementum id ut massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas tincidunt placerat lacus id feugiat. Ut eget porta lacus. Duis posuere non risus scelerisque cursus.
	";

	private void save()
	{
		editenable = false;
		project.longDescription = txtareainput; 
	}

    private ProjectPreviewDTO[]? projectsList;

    @* protected override async Task OnInitializedAsync()
    {
        try
        {
            projectsList = await Http.GetFromJsonAsync<ProjectPreviewDTO[]>("Project");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    } *@

	
}