@page "/project/{id:int}"
@using TrialProject.Shared
@using TrialProject.Shared.DTO
@inject NavigationManager NavManager
@inject HttpClient Http

<PageTitle>View Project</PageTitle>

@if (project == null)
{
	<p>@message</p>
} else
{

	<div class="top">
		<h1>@project.name</h1>
	</div>

	<body>
		

		<div class="content_left">

			<h4>Short</h4>
			<p>@project.shortDescription</p>

			<h4>Description</h4>
			<textarea name="longdescription" id="longdescription" cols="30" rows="10" readonly>
				@project.longDescription
			</textarea>

			<AuthorizeView Roles="supervisor">
				<Authorized>
					<input type="submit" class="OurButton" value="Edit" @onclick="NavToEdit">
					<input type="button" class="OurButton" value="Delete" @onclick="DeleteProj">
				</Authorized>
			</AuthorizeView>
	
		</div>

		<div class="content_center"></div>

		<div class="content_right">
			<div class="abouttitle"><h5>About</h5></div>

			<div class="aboutcontainer">
				<h6>Author: </h6>
				@project.SupervisorName 
				<h6>Contact: </h6>
				<AuthorizeView>
					<Authorized>
						@project.SupervisorEmail
					</Authorized>
					<NotAuthorized>
						Log in to view contact information!
					</NotAuthorized>
				</AuthorizeView>
			</div>

		</div>


	</body>
	
}





@code {
	[Parameter]
	public int id { get; set; }

	private ProjectDescDTO? project;

	private string message = "Loading...";

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var response = await Http.GetAsync("Project/api/" + id);

			if (response.IsSuccessStatusCode) 
			{
				project = await response.Content.ReadFromJsonAsync<ProjectDescDTO>();
			} 
			else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
			{
				message = "Project not found.";
			} 
			else
			{
				message = "An error has occurred, please try again.";
			}
		}
		catch (Exception)
		{
			message = "An error has occurred, please try again.";
		}
	}

	private void NavToEdit()
	{
		NavManager.NavigateTo("/project/edit/" + id);
	}

	private async void DeleteProj()
	{
		try
		{
			var response = await Http.DeleteAsync("Project/api/" + id);
			if (response.IsSuccessStatusCode) NavManager.NavigateTo("/allprojects");
		} catch (Exception e)
		{
			Console.WriteLine(e.Message);
		}
	}
	
}