@page "/project/{id:int}"
@using TrialProject.Shared
@using TrialProject.Shared.DTO
@inject NavigationManager NavManager
@inject HttpClient Http

<PageTitle>View Project</PageTitle>

@if (project == null)
{
	<p>@message</p>
} else
{
	<div class = "container">
        <div class="top">
            <h1>@project.name</h1>
        </div>

		<div class="content">
			<div class = "content_left">
				<div class = "center">
					<p>@project.shortDescription</p>
				</div>
				<p>@project.longDescription</p>
				<AuthorizeView Roles="supervisor">
					<Authorized>
						<div class = "center buttondiv">
							<input type="submit" class="OurButton" value="Edit" @onclick="NavToEdit">
							<input type="button" class="OurButton" value="Delete" @onclick="DeleteProj">
						</div>
						
					</Authorized>
				</AuthorizeView>
			</div>

			<div class = "content_right">
				<h4>About</h4>
				<hr class="line">
				<h6>Author: </h6>
				@project.SupervisorName 
				<h6>Contact: </h6>
				<AuthorizeView>
					<Authorized>
						@project.SupervisorEmail
					</Authorized>
					<NotAuthorized>
						Log in to view contact information!
					</NotAuthorized>
				</AuthorizeView>
			</div>
		</div>
    </div>
	<div class="filler"/>
}





@code {
	[Parameter]
	public int id { get; set; }

	private ProjectDescDTO? project;

	private string message = "Loading...";

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var response = await Http.GetAsync("Project/api/" + id);

			if (response.IsSuccessStatusCode) 
			{
				project = await response.Content.ReadFromJsonAsync<ProjectDescDTO>();
			} 
			else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
			{
				message = "Project not found.";
			} 
			else
			{
				message = "An error has occurred, please try again.";
			}
		}
		catch (Exception)
		{
			message = "An error has occurred, please try again.";
		}
	}

	private void NavToEdit()
	{
		NavManager.NavigateTo("/project/edit/" + id);
	}

	private async void DeleteProj()
	{
		try
		{
			var response = await Http.DeleteAsync("Project/api/" + id);
			if (response.IsSuccessStatusCode) NavManager.NavigateTo("/allprojects");
		} catch (Exception e)
		{
			Console.WriteLine(e.Message);
		}
	}
	
}